In [1]:
2+2

4

In [3]:
print("Hello, World")

Hello, World

# Markdown cell

This is a markdown cell. change cell type from code to markdown.
Use single ASH/POUND symbol for header and sub header.

## IMP Short cuts
1.shift + enter = run the cell and go to next cell.  
2.control + enter = run the cell and stay in the cell.  
3.alt + enter = run the cell and enter a new cell next line.  
4.tab = gives the functions matching the entry.  
5.shift + tab = gives the syntax and information.

cheat sheet for markdown cell  
https://medium.com/ibm-data-science-experience/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

In [5]:
# variable assignment
# var_name = value
i = 10
i

10

In [6]:
type(i)                # to know the data type of the variable

int

In [9]:
j = 10.00
type(j)

float

In [10]:
k = "king"
type(k)

str

In [14]:
m = 1 + 2j
type(m)

complex

In [15]:
# Variable_name.(press tab)   --- gives the available functions

In [23]:
m.imag

2.0

In [24]:
m.real

1.0

In [25]:
id(m)       # gives the location of the variable in the memory

1833465898576

In [26]:
#float
x = 1.0
type(x)

float

In [28]:
# boolean

h = True
type(h)

bool

In [30]:
print(True + True)
print(True + False)
print(False + False)

2
1
0

### Strings

Strings can be defined within a single quote, double quote or triple quote. All give the same result.  
If we quote with single quote we dont have to escape the double quote or vice_versa.  
If we use the triple quote we can have multiple lines in the quotes.

In [34]:
# strings

# "swaroop's" - correct
# "swaroop"s" - wrong
# 'swaroop"s' - correct

name = "swaroop"
type(name)

str

In [35]:
print(name)

swaroop

In [53]:
name01 = """this is the task perform it"""
name02 = '''this is the new task'''
name01
#name02

'this is the task perform it'

In [42]:
1+1

2

In [43]:
1 + "swaroop"   # To perform any action the data type has to be same

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
"swaroop" + "rcb"    # Concatenation of strings

'swarooprcb'

In [47]:
str(120) + "swaroop"     # 120 is typecasted to string

'120swaroop'

In [1]:
"Swaroop" * 10            #string multiplication

'SwaroopSwaroopSwaroopSwaroopSwaroopSwaroopSwaroopSwaroopSwaroopSwaroop'

In [5]:
"Swaroop" * 10

'SwaroopSwaroopSwaroopSwaroopSwaroopSwaroopSwaroopSwaroopSwaroopSwaroop'

In [49]:
2 ** 3                  # it refers to the power of. here, 2 to the power of 3

8

In [51]:
int('0')

0

## Boolean evaluation

boolean exp are created with key words and, or ,not and is.  

code words:  
AND - multiply  
OR - addition

In [54]:
True and False

False

In [55]:
True or False

True

In [56]:
not True

False

In [57]:
not False

True

In [58]:
True is True

True

In [59]:
True is False

False

In [60]:
True * True

1

In [61]:
True + True

2

In [62]:
True / True

1.0

In [63]:
# logically True is assigned 1 and False is assigned 0

In [65]:
True / False                             # Division by zero

ZeroDivisionError: division by zero

## containers

list  
tuple  
dictionary  
sets

## Input function()

All the entry given through input is of string data type.  

So we typecast the input to the required data type.

In [66]:
input()

25

'25'

In [68]:
age = input()
print("my age", age)

25
my age 25

In [69]:
type(age)

str

In [71]:
height = int(input("enter height"))    # taking input with typecasting.
type(height)

enter height158

int

### Primitive and non-primitive data sets

primitive - homogeneous, basic data types(int, float, str)  
non-primi - heterogeneous, mixed data types(list, tuple, dict)