# Lists Data Structure

List can store a sequence of objects.  
objects can be of different data types.  
List is ordered, #mutable#.  

Basic python has no array data type.  
Array has been included in NUMPY.

### Creating a list
give list name assign the list enclosed in square bracket.  

i = [    ]    - list  
j = list(    ) - function  

In a list we can have any data type. A collection of int, float, str....etc (HETERROGENEOUS DATA)

In [1]:
mylist = ["hello", 12, "world", 11.11,'me2']                            #assigning a list
print(mylist)                                                           # print a list
type(mylist)                                                            # check the type of variable.

['hello', 12, 'world', 11.11, 'me2']

list

In [45]:
# difference of [ ] and list(  )

m = list("swaroop")
m

['s', 'w', 'a', 'r', 'o', 'o', 'p']

In [52]:
n = list("123456")
n

# n = list(123456)
# n 
# The above code gives error as the list function works for char and int is not iterable.

['1', '2', '3', '4', '5', '6']

In [57]:
name = "swaroop"
name[0]
name[-1]
name[0:10:2]
name[0:3]
name[3:0:-1]   # starts with 3rd index and goes till 1st index excluding 0th in negative direction.
name[3:0:-1]    #gives the blank list as we cant move from 3 to 0 in positive direction.

'raw'

## Indexing a list
Indexing can be done similar to strings.  
starts from 0 and so on from left to right.  
starts from -1 and so on from right to left.

In [2]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])
print(mylist[-1])
print(mylist[-2])
print(mylist[-3])
print(mylist[-4])
print(mylist[-5])

hello
12
world
11.11
me2
me2
11.11
world
12
hello

### Indexing a range of list : Slicing

## NOTE : That the upper value(Ending index) of range is not included.  

#### [ included  :  excluded]

#### [startpt : endpt : step_size]   #deafult stepsize is 1.
If Step size is positive - left to right  
If step size is negative - right to left

If any value is left blank, it takes the extreme ends of the list.

In [7]:
print(mylist[0:2])
print(mylist[0:])
print(mylist[:-1])
print(mylist[-3:-1])

['hello', 12]
['hello', 12, 'world', 11.11, 'me2']
['hello', 12, 'world', 11.11]
['world', 11.11]

In [44]:
# Simple and easy way to reverse the text.

s = "swaroop"
s[::-1]

'pooraws'

In [66]:
# indexing list in a list
l = [["swaroop","gudhal"], 12345, 2+3j]
l[0][0]
l[0][1]
list(l[0][0])

['s', 'w', 'a', 'r', 'o', 'o', 'p']

## Concatenation of list

for concat we need to have the same datatype with + operation.  
For ex we cant concat list with int and same way.

In [9]:
a = [1,2,3,4]
b = ['A','B','C']                                                           #assigning a list
c = ['A', 500, 'c']
print(b + c)                                                                #concatenating and printing the lists
print(a + b + c)

['A', 'B', 'C', 'A', 500, 'c']
[1, 2, 3, 4, 'A', 'B', 'C', 'A', 500, 'c']

In [11]:
d = a + b + c                                                               #assigning the concatenated list to a variable 
d                                                                     # from this new list we can index and slice the elements.

[1, 2, 3, 4, 'A', 'B', 'C', 'A', 500, 'c']

In [12]:
d[-1]

'c'

In [13]:
d[-5:]

['B', 'C', 'A', 500, 'c']

In [67]:
# concat in string

"swaroop"+" "+"gudhal"

'swaroop gudhal'

In [74]:
# multiply of a list

s = [1,2,3,4,'swar',3+5j]
s*2

[1, 2, 3, 4, 'swar', (3+5j), 1, 2, 3, 4, 'swar', (3+5j)]

## More functions of lists

In [19]:
mylist = ['Bangalore', 'Delhi', 'chennai', 2000, 3400.56, "cool"]
print(mylist)

['Bangalore', 'Delhi', 'chennai', 2000, 3400.56, 'cool']

In [20]:
# length of the list

len(mylist)

6

In [21]:
# remore an element from the list using index.

del(mylist[5])

In [22]:
print(mylist)

['Bangalore', 'Delhi', 'chennai', 2000, 3400.56]

In [27]:
# another method to do so is using pop

l1 = [1,2,3,4]
l1.pop(2)
print(l1)
l1.pop(0)
print(l1)           # the value in the round bracket refer to the index value of the list.
# if we dont give the index, the value in -1 gets popped up.
#l1.pop() - pop -1 index element.

[1, 2, 4]
[2, 4]

In [23]:
# remove elements by slicing

del(mylist[-2:])

In [24]:
mylist

['Bangalore', 'Delhi', 'chennai']

In [25]:
# delete the elements by the names.

newlist = ["hello", 2, 3, 2, 'world',2]
newlist.remove(2)

In [116]:
newlist             # removed only one element. REMOVE only deletes the first matching element.

['hello', 3, 2, 'world', 2]

In [29]:
#finding the existance in the list

# output is the boolean value.

'hello' in newlist

True

In [31]:
5 in newlist

False

In [32]:
5 not in newlist

True

In [33]:
# checking the max and min value in the list

# max and min works for only numeric data. strings are excluded.

l1 = [1,2,3]
print(max(l1))
print(min(l1))

3
1

In [35]:
# adding the single value at the end of the list

l1 = [1,2,3]
l1.append(5)
l1

#limitation is we can add only one element at the end.

[1, 2, 3, 5]

In [36]:
l1.append([6,7])
l1

[1, 2, 3, 5, [6, 7]]

In [59]:
l = []
l.append("swaroop")
l.append("texas")
l.append("bangalore")
l.append(12345)
l.append(['qwe', 23, 3+5j, 32.002])
l

['swaroop', 'texas', 'bangalore', 12345, ['qwe', 23, (3+5j), 32.002]]

In [38]:
# to over come limitaion of the append we have extend

l1 = [1,2,3]
l1.extend([4,5,6])
l1

# limitation is we can add multiple elements at the end only not in between the list.

[1, 2, 3, 4, 5, 6]

In [114]:
l1.extend("swaroop")
l1

# Extend work similat to concat.
# first it will unravel(expand) the data and then adds it.

[1, 2, 3, 's', 'w', 'a', 'r', 'o', 'o', 'p']

In [77]:
# to insert the elements in between the list

l1 = [1,2,3,4]
l1.insert(1, 101)
l1

# first we give the index and later give the value to be added to list

[1, 101, 2, 3, 4]

In [76]:
l1 = [1,2,3,4]
l1.insert(-1,202)
l1

# insert adds the value before the index value. Analyze the case by shift + tab.

[1, 2, 3, 202, 4]

In [63]:
l = []
l.append("swaroop")
l.append("texas")
l.append("bangalore")
l.append(12345)
l.append(['qwe', 23, 3+5j, 32.002])
l.insert(2,["not", "bangalore"])
l

['swaroop',
 'texas',
 ['not', 'bangalore'],
 'bangalore',
 12345,
 ['qwe', 23, (3+5j), 32.002]]

In [41]:
# sorting the elements in list in ascending order

l2 = [23,1,0,45,-1]
l2.sort()
print(l2)

[-1, 0, 1, 23, 45]

In [87]:
l1 = ['q','a','d','f']
l1.sort()
l1

['a', 'd', 'f', 'q']

In [88]:
# sort changes the list to the ascending order permanently. 
#BUt in case if we have to view only sorted elements and not change the list we have SORTED function.

l2 = [23,1,0,45,-1]
print(sorted(l2))
print(l2)

# sort function can be applied only for numeric or alphabetic separately.
# ie only we can pass str or int. Not the mixture of both.

[-1, 0, 1, 23, 45]
[23, 1, 0, 45, -1]

In [115]:
# to find the index of the given var in the list
# gives the index of the first encounter

l = [1,2,3,4,5,6,8,7,9]
l.index(3)

2

In [90]:
# reassigning the value of the list element with index.(mutability property)

l2[2]= 56
print(l2)

[23, 1, 56, 45, -1]

In [84]:
# Reversing the list
#type 01 
# original list doesnt get affected

list01 = [1,2,3,4,5,6,]
print(list01[::-1])
print(list01)

[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]

In [85]:
#type 02
# original list is reversed.

list01 = [1,2,3,4,5,6,]
list01.reverse()
list01

[6, 5, 4, 3, 2, 1]

In [113]:
# to identify the number of value in the list

l = [1,2,3,2,3,5,6,8,2,1,3,5]
l.count(2)

3

In [70]:
l = []

for i in [1,2,3,"swar", ["qwe","asd","zxc","12"]]:
    if type(i) == list:
        for j in i[::-1]:
            l.append(j[::-1])
l

['21', 'cxz', 'dsa', 'ewq']

## Nested list

In [91]:
l1=[1,2,3] 
l2=[4,5,6]
l3=[7,8,9]

matrix = [l1,l2,l3]

In [92]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [93]:
type(matrix)

list

In [94]:
matrix[1][1]

5

In [95]:
matrix[0][0]

1

### List Comprehension

In [98]:
# Normal or conventional approach

p = []
for i in matrix:
    p.append(i[1])
print(p)

[2, 5, 8]

In [100]:
# building a list comprehension by deconstructing a for loop within a []

col = [row[1] for row in matrix]
col

[2, 5, 8]

In [101]:
col = [row[1]*5 for row in matrix]
col

[10, 25, 40]

In [102]:
col = [row[1]+0.5 for row in matrix]
col

[2.5, 5.5, 8.5]

In [103]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [104]:
col = [(i[0],i[1]) for i in matrix]
col

[(1, 2), (4, 5), (7, 8)]

In [112]:
l = []
for i in matrix:
    l.append((i[0],i[1]))
print(l)

[(1, 2), (4, 5), (7, 8)]

In [1]:
lst = [1,2,3,4]
lst1 = []
for i in lst:
    lst1.append(i**2)
    
print(lst1)

[1, 4, 9, 16]

In [2]:
[i**2 for i in lst]

[1, 4, 9, 16]

In [3]:
## List comprehension for sum of even nos in a collection

lst = [1,2,3,4,5,6,7,8,9,10]
lsteven = [i for i in lst if i%2==0]
lsteven

[2, 4, 6, 8, 10]

In [4]:
lsteven = sum([i for i in lst if i%2==0])
lsteven

30

In [5]:
## List comprehension for sum of odd nos in a collection

lst = [1,2,3,4,5,6,7,8,9,10]
lstodd = [i for i in lst if i%2!=0]
lstodd

[1, 3, 5, 7, 9]

In [6]:
lstodd = sum([i for i in lst if i%2!=0])
lstodd

25

In [18]:
## List comprehesion to reverse a list of strings with reverse of strings.

lst = ["Paine", "Smith","Virat" ]      #lst is the given list

           #reverse the strings  #Reverse the reversed list
#          ----------------------______
lstfinal = [i[::-1] for i in lst][::-1]
lstfinal

['tariV', 'htimS', 'eniaP']

In [28]:
lst.reverse()

In [29]:
lst

['Paine', 'Smith', 'Virat']

In [157]:
x = "swaroop137799"
y = list(x)
print(y)

m = []
n = []
str = ''
num = 0
for i in y:
    if i.isalpha() == True:
        m.append(i)
    if i.isnumeric() == True:
        n.append(i)
for i in m:
    str = str + i
print(str)
for i in n:
    i = int(i)
    print(i,end='')
    #sum = sum + i
#print(sum)

['s', 'w', 'a', 'r', 'o', 'o', 'p', '1', '3', '7', '7', '9', '9']
swaroop
137799

In [154]:
n

['1', '3', '7', '7', '9', '9']