# LOOPS

for iteration of a single line of code

### FOR loop

In [2]:
for name in ["joe", "zoe", "brad","zuki", "paris"]:
    invite = "Hi " + name +", Please come to my party"
    print(invite)

Hi joe, Please come to my party
Hi zoe, Please come to my party
Hi brad, Please come to my party
Hi zuki, Please come to my party
Hi paris, Please come to my party

In [3]:
l1 = [1,2,3,4,5]
for i in l1:
    print(i * 10)

10
20
30
40
50

In [10]:
# for loop to get the list in list.

y = [1,2,3,4,[34,6,7,9]]

for i in y:
    if type(i) == list:
        for j in i:
            print(j)
else:
    print(i)

34
6
7
9
[34, 6, 7, 9]

In [7]:
# for loop to find the sum of the numbers in list.

#list of numbers
num = [6,5,3,8,4,2,5,4,9]

# variable to store sum
sum = 0

# iterate in the list
for val in num:
    sum = sum + val
print(sum)           #to print the sum after iteration.

46

In [8]:
# strange for else program in python.
# no other major program gives else in the for loop.
# the code will run the complete for loop and then once the loop is exhausted the else is executed.

num = [0,1,5]

for i in num:
    print(i)
else:
    print("no data left")

0
1
5
no data left

In [1]:
l = []

for i in [1,2,3,"swaroop",["dfg",'xyz','abc']]:
    if type(i) == list:
        for j in i[::-1]:
            l.append(j[::-1])
l

['cba', 'zyx', 'gfd']

### WHILE loop

In [4]:
count = 1
while (count <= 10):
    print("hello World")
    count = count + 1

hello World
hello World
hello World
hello World
hello World
hello World
hello World
hello World
hello World
hello World

In [10]:
# simple while loop

n = 10

# initialize sum and counter value
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i + 1
print(sum)

55

### NESTED loop

In [5]:
# find the numbers between 555 and 1111 divisible by 7

list01 = []
for x in range(555,1111):
    if (x % 7 == 0):
        list01.append(x)
print(list01)
len(list01)

[560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994, 1001, 1008, 1015, 1022, 1029, 1036, 1043, 1050, 1057, 1064, 1071, 1078, 1085, 1092, 1099, 1106]

79

## Range Function( )

we can generate the sequence of numbers using range function.  
Range(10) will give the numbers from 0 to 9 (ie. 10 numbers)  
we can also define the start, stop, step size in range. Default step size is 1.  
It stores only start and stop value and does not give the values.  
By LIST function we can store and get all the values in the list format.

Range will generate only int and dont generate float.  
In numpy arange we can generate int as well as float.

In [11]:
range(10)

range(0, 10)

In [12]:
print(range(10))

range(0, 10)

In [13]:
list(range(10))   # upon passing the range in list function we can get all the values in range.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [16]:
list01 = [1,2,3,5,6,7]

list(range(len(list01)))

[0, 1, 2, 3, 4, 5]

In [5]:
l = ["swaroop", "gudhal", "sydney", "california", "washington", '23', '25', '26']
m = []
for i in range(len(l)-1,-1,-1) :
    m.append(l[i])
m

['26', '25', '23', 'washington', 'california', 'sydney', 'gudhal', 'swaroop']

In [31]:
genre = ['pop', 'rock', 'jazz', 'sapna']

for i in range(0,len(genre)-1,2):
    print("I like ", genre[i])

I like  pop
I like  jazz

## Break and Continue statement

In [33]:
for i in "swaroop":
    print(i)

s
w
a
r
o
o
p

In [58]:
def prime_cat(num):
    for i in range(2,num):
        if num%i==0:
            print("not prime")
            break
    else:
        print("prime")

In [60]:
prime_cat(27)

not prime

In [93]:
def fib_sum(num):
    l = [0,1]
    for i in range(2,num):
        l.append(0)
        l[i] = l[-2]+l[-3]
    print(l)

In [98]:
fib_sum(5)

[0, 1, 1, 2, 3]

In [137]:
list01 = [51,46,81,23,55,35,78,53,40,57,95,66,59,26,24,90,64,65,67,50]

def list_evod_sum(lst):
    e = []
    o = []
    for i in lst:
        if i % 2 == 0:
            e.append(i)
        else:
            o.append(i)
    print(e)
    print(o)
    sume = 0
    sumo = 0
    for i in e:
        sume = sume + i
    print(sume)
    for i in o:
        sumo = sumo + i
    print(sumo)
    print("The sum of even numbers is", sume)
    print("the sum of odd numbers is", sumo)

In [138]:
list_evod_sum(list01)

[46, 78, 40, 66, 26, 24, 90, 64, 50]
[51, 81, 23, 55, 35, 53, 57, 95, 59, 65, 67]
484
641
The sum of even numbers is 484
the sum of odd numbers is 641

In [7]:
for i in "swaroop":
    if i == "r":
        break
    print(i)
else :
    print("print after this loop")
print("the end")

# break is used to stop the iteration.
# in for loop first the value is checked for equal to, if matching then the loop breaks.
# if no matching then the entire loop is done. Else is printed upon complete execution of for loop.
# after that "the end " is printed.
# if we have two matching letter, then the break will happen at the first encounter only.

s
w
a
the end

In [47]:
for i in "strings":
    if i == "s":
        continue
    print(i)
else:
    print("else print")

print(" the end")

# continue does not stop the iteration.
# In for loop, first the value is checked for equal to, if matching then the loop stops for that iteration.
# If no matching then the entire loop is done. Else is printed even if continue executes in loop.
# After that "the end " is printed.
# If we have two matching letter, then the continue will skip at the each continue statement.

t
r
i
n
g
else print
 the end

In [6]:
%%time
lst = [1,3,4,6,7,8,9,2,3,4,5]
sumeven = 0
sumodd = 0
for i in lst:
    if i%2==0:
        sumeven= sumeven + i
    else:
        sumodd = sumodd + i
print(sumeven)
print(sumodd)

24
28
Wall time: 0 ns

In [8]:
%%time
lst = ['I', 'am', 'a', 'student']
sum01 = ""
for i in lst:
        sum01 = sum01 + i + " "
print(sum01)

I am a student
Wall time: 0 ns

In [24]:
lst = [1,2,3,4,5,6,7,10,1]
sumeven = 0
sumodd = 0
for i in lst:
    if i%2==0:
        sumeven= sumeven + i
        if sumeven > 20:
            print("evensum more than 20")
            break
    else:
        sumodd = sumodd + i
        if sumodd > 20:
            print("oddsum more than 20")
            break
else:
    print(" the sums are less than 20")
print(sumeven)
print(sumodd)

evensum more than 20
22
16

In [2]:
n = 10
i = 1
evensum = 0
oddsum = 0
while i<=n:
    if i%2 == 0:
        evensum = evensum + i
    else:
        oddsum = oddsum + i
    i = i + 1
print(evensum)
print(oddsum)

30
25

In [19]:
s = "hello world"
s.split("o")

['hell', ' w', 'rld']

In [21]:
s.partition("o")

('hell', 'o', ' world')

In [38]:
s = "this is the best company to work for as a fresher"

In [58]:
for i in s:
    if i == "t":
        print(i)
        print(i)

t
t
t
t
t
t
t
t

In [63]:
x = list(enumerate(s))
for i in x:
    if i[1]=="t":
        print(i[0])

0
8
15
25

In [67]:
a = "apple"
list(enumerate(a))

[(0, 'a'), (1, 'p'), (2, 'p'), (3, 'l'), (4, 'e')]