# PANDAS

# File READ and WRITE Operations

In [ ]:
import numpy as np
import pandas as pd
# np.set_printoptions(precision=4)        # prints only 4 digits after the decimal

### Reading CSV

In [ ]:
df = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex1.csv') #giving r before file path changes forward to backward slash logically.

df.head(10)    #gives top ten rows of data so that when we have more data everything doesnt get printed.

In [ ]:
df

In [ ]:
# while using read_csv it reads the csv file. We can also read a tab separated file by using sep=" \t "
# Below example shows we can read a tsv file by csv format with changing the separator.

In [ ]:
df1 = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\test.tsv', sep = "\t") #forward to backward slash

df1.head(10)

### Reading TSV (tab separated value)

In [ ]:
df1 = pd.read_table(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\test.tsv') #forward to backward slash

df1.head(10)

In [ ]:
# while using read_table it reads the tsv file. We can also read a comma separated file by using sep=" , "
# Below example shows we can read a csv file by tsv format with changing the separator.

In [ ]:
df2 = pd.read_table(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex1.csv', sep=',') #forward to backward slash

df2.head(10)

## Header options

In [ ]:
# Pandas has default header as first row while reading. If we dont have any header and we want all the data to be rows 
# we have to set the header = None (Cap N)

In [ ]:
df2 = pd.read_table(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex1.csv', sep=',') #forward to backward slash

df2.head(10)

In [ ]:
df3 = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex2.csv',header = None)

df3

### Giving the own names for the header

In [ ]:
pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex2.csv', names = ["apple","ball","cat","dog","message"])

In [ ]:
# if we pass a extra column name the column is created but is empty

In [ ]:
pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex2.csv', names = ["apple","ball","cat","dog","message","contact"])

In [ ]:
type(df2)

### Reading Multi-index data

In [ ]:
parsed = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\csv_mindex.csv',index_col=['key1','key2'])

parsed

### Steps to remove data by rows while reading a file

In [ ]:
df = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex4.csv')

df

In [ ]:
df = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex4.csv', skiprows=[0,2,3])

df

### finding null values

In [ ]:
df = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex5.csv')

df

In [ ]:
pd.isnull(df)

In [ ]:
result = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex5.csv', na_values=['NULL'])

result

### Reading Excel sheet

In [ ]:
excel01 = pd.read_excel(r'/Users/User/Desktop/ineuron/python basics training/pandas/examples/Moresheets.xlsm', sheet_name='Sheet1')

excel01.head(10)

## Reading the data from HTML page

In [ ]:
url = "http://www.basketball-reference.com/leagues/NBA_2015_totals.html"

BBdata = pd.read_html(url)       # Read data from URL

df = BBdata[0].iloc[:,0:10].head(5) # Read only 5 rows from 10 cols

df

In [ ]:
# similarly we can use GITHUB url to get the data.

In [ ]:
# to get the specific columns of the dataframe loaded.

df[["Player","FG"]]

In [ ]:
df["Player"]

In [ ]:
# to check the data types of the columns

df.dtypes

In [ ]:
# Setting the max number of rows in the output

pd.options.display.max_rows = 1000   # it will set max rows to display to 10 GLOBALLY

# Or we have dataframe.head() - it gives only top 5 data rows in display

In [ ]:
# the code gives only 10 rows from top and bottom

result = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex6.csv')

result

In [ ]:
# the code gives any random 5 rows

result = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex6.csv',nrows=8)

result

In [ ]:
# Setting CHUNK size

result = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex6.csv',chunksize=500)

result

# Writing data to files

## To Text format

In [ ]:
df10 = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex5.csv')
df10

In [ ]:
df10.to_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\out01.csv')

# now check the location for excel file

In [ ]:
import sys

In [ ]:
df10.to_csv(sys.stdout)   # we get the output here only no output file to be generated

In [ ]:
df10.to_csv(sys.stdout,sep = "|")     # we get the output here only no output file to be generated

In [ ]:
# orelse we can also save it to the file we need

df10.to_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\out20.csv',sep = "|") 

# check the location for file

In [ ]:
df10.to_csv(sys.stdout,na_rep="null21")

In [ ]:
df10.to_csv(sys.stdout,index=False,header = False)

In [ ]:
# create a new file with own column name

df10.to_csv(sys.stdout,index=False,columns = ['a','b','c'])

## Create a DATE range

In [ ]:
dates = pd.date_range('1/1/2020', periods = 10)
ds = pd.Series(np.arange(10), index = dates)
ds

In [ ]:
ds.to_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\dateseries.csv')

## Working with delimited Formats

In [ ]:
import csv

In [ ]:
f = open(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex7.csv')

reader_01 = csv.reader(f)
reader_01

In [ ]:
for i in reader_01:       # reading the data
    print(i)

In [ ]:
with open(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex7.csv') as f:
    lines = list(csv.reader(f))
print(lines)
lines[1:]

In [ ]:
header, values = lines[0],lines[1:]

In [ ]:
data_dict = {h:v for h,v in zip(header, zip(*values))}   # h & v are variables
data_dict

## Handling JSON files
#### Java Script Object Notation

In [ ]:
jsonobj = """
{"name":"rahul",
"places_lived": ["dvg","mlore","blore"],
"pet": null,
"siblings":[{"name":"Scott","age":25,"pets":["zeus","zuku"]},
{"name":"katie", "age" : 30,"pets": ["sixes","stache","cisco"]}]}"""

jsonobj

In [ ]:
import json

jsonresult = json.loads(jsonobj)
jsonresult

In [ ]:
# copy paste the jsonobj data into the link below
# http://jsonviewer.stack.hu/

In [ ]:
asjson = json.dumps(jsonresult)
asjson

In [ ]:
siblings = pd.DataFrame(jsonresult["siblings"], columns = ["name", "age","pets"])
siblings

In [ ]:
data = pd.read_json(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\example.json')
data

In [ ]:
print(data.to_json())
print(data.to_json(orient= "records"))

In [ ]:
tables = pd.read_html(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\fdic_failed_bank_list.html')
print(len(tables))
print(tables)

In [ ]:
columnss = tables[0]
columnss.head()

In [ ]:
columnss.dtypes

In [ ]:
# converting the string type date format to date time format

In [ ]:
close_timestamp = pd.to_datetime(columnss["Closing Date"])
close_timestamp

In [ ]:
# Scrapping the data based on the time limit say a year or month of year or so

In [ ]:
close_timestamp.dt.year.value_counts()

In [ ]:
# it gave us how much data from 2010, 2009 and so on. We can get for months, quarter,.... etc

## Serialization and Deserialization 

### pickle = python binary datset

Serialization is a mechanism of converting the state of an object into a byte stream.     
Deserialization is the reverse process where the byte stream is used to recreate the actual Java object in memory.

In [ ]:
# Reading the file

frame = pd.read_csv(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\ex1.csv')
frame

In [ ]:
# Serialization of the data

frame.to_pickle(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\framesswa_pickle')

# check the loaction for the file

In [ ]:
# Deserialization of the pickle

pd.read_pickle(r'C:\Users\User\Desktop\ineuron\python basics training\pandas\examples\framesswa_pickle')

## HDF5 Format (Hierarchial data format ver5)

In [ ]:
frame = pd.DataFrame({'randnos':np.random.randn(10)})
frame

In [ ]:
store = pd.HDFStore("myhdf5data.h5")
store["myobj1"] = frame
store["myobj_col"] = frame["randnos"]
store

In [ ]:
store["myobj1"]

In [ ]:
store["myobj_col"]

## web url API

In [ ]:
import requests

In [ ]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [ ]:
data = resp.json()
data[0]["user"]["login"]

In [ ]:
data[0]["user"]

In [ ]:
issues = pd.DataFrame(data, columns=["number","title","labels","state"])
issues

## Interacting with Databases

In [ ]:
# connecting and working with SQL database. refer video.

# Data Manipulation in Pandas

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
titanic_train = pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",sep='\t')  
titanic_train

In [ ]:
titanic_train.head()    # gives first 5 rows

In [ ]:
titanic_train.head(12)     # on passing parameter it gives the number of rows given

In [ ]:
titanic_train.tail()   # 5 rows from bottom

In [ ]:
titanic_train.tail(8)

In [ ]:
type(titanic_train)

### selecting the columns

In [ ]:
titanic_train["PassengerId"]

In [ ]:
type(titanic_train["PassengerId"])

In [ ]:
titanic_train[["PassengerId","Name","Ticket"]].head(15)

In [ ]:
type(titanic_train[["PassengerId","Name"]])

In [ ]:
titanic_train.columns

In [ ]:
titanic_train.dtypes

In [ ]:
titanic_train.dtypes == "object"

In [ ]:
titanic_train.dtypes == "int64"

In [ ]:
# to get only the columns with a preferred datatype

titanic_train.dtypes[titanic_train.dtypes == "object"]

In [ ]:
a = titanic_train.dtypes[titanic_train.dtypes == "object"].index

In [ ]:
titanic_train.dtypes.index

In [ ]:
# passing the selected column to getthe data of the same coumns

titanic_train[a]

In [ ]:
a = titanic_train.dtypes[titanic_train.dtypes == "int64"].index
titanic_train[a]

In [ ]:
titanic_train.describe()

In [ ]:
titanic_train[a].describe()

In [ ]:
a = titanic_train.dtypes[titanic_train.dtypes == "object"].index
titanic_train[a].describe()

In [ ]:
titanic_train.describe()

In [ ]:
titanic_train["Sex"].unique()

In [ ]:
titanic_train["Embarked"].unique()

In [ ]:
titanic_train["Cabin"].unique()

In [ ]:
# sort operation on the column. column is a list. so similar to list operation.

In [ ]:
sorted(titanic_train["Name"])

In [ ]:
# slicing

sorted(titanic_train["Name"])[:10:2]

In [ ]:
titanic_train["Ticket"]

In [ ]:
titanic_train[["Ticket"]]

In [ ]:
# note the change in output in the above two.
# one is std output and other is the dataframe.

In [ ]:
titanic_train[["Ticket"]][:14:2]

## Adding a new columns

In [ ]:
titanic_train.columns

In [ ]:
titanic_train["test"]= 0
titanic_train.columns

In [ ]:
titanic_train.dtypes

In [ ]:
titanic_train.columns

In [ ]:
titanic_train.describe()

## Handling the categorical data

Convert numerical cate date to std cate data.

In [ ]:
new_pclass = pd.Categorical(titanic_train["Pclass"])
new_pclass

In [ ]:
new_pclass = new_pclass.rename_categories(["Class1",'Class2','Class3'])
new_pclass

In [ ]:
titanic_train["Cabin"].unique()

Convert the mixed type data to Cate data type.  
ex : C40 D30 to C D....so on

In [ ]:
char_cabin = titanic_train["Cabin"].astype(str)
char_cabin

In [ ]:
new_cabin = [x[0] for x in char_cabin]   # extract the first letter of the data
new_cabin

In [ ]:
new_cabin = pd.Categorical(new_cabin)  # find the new categories
new_cabin

In [ ]:
titanic_train["Cabin1"] = new_cabin   # adding a new column
titanic_train

## Selecting the NULL values in boolean condition

In [ ]:
# Gives the boolean value for the true and false condition

titanic_train["Age"].isnull()

In [ ]:
# return the list of index where cond'n is true.

missing = np.where(titanic_train["Age"].isnull() == True)
missing

In [ ]:
# fetch the index of rows where fare is maximum.

np.where(titanic_train["Fare"] == max(titanic_train["Fare"]))

In [ ]:
# get the row data for the index selected. iloc = integer location

titanic_train.iloc[np.where(titanic_train["Fare"] == max(titanic_train["Fare"]))]

In [ ]:
# Finding the null values in the given column

In [ ]:
titanic_train["Age"].isnull()

In [ ]:
pd.isnull(titanic_train["Age"])

## Concatenating 2 columns to form new
### Getting the required rows of data

In [ ]:
titanic_train["Family"] = titanic_train["SibSp"] + titanic_train["Parch"]
titanic_train["Family"]

In [ ]:
most_family = np.where(titanic_train["Family"] == max(titanic_train["Family"]))
most_family

In [ ]:
titanic_train.iloc[most_family]

# PANDAS Series type

Above we handled the DataFrame type, now we see how to handle series type.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
labels = ["a","b","c"]
my_data = [10,20,30]
arr = np.array(my_data)
d = {"a":10,"b":20,"c":30}

In [ ]:
print(labels)
print(my_data)
print(d)
print(arr)

In [ ]:
# list to series

pd.Series(my_data, index = labels)

In [ ]:
# series without index

pd.Series(my_data)

In [ ]:
# array to series

pd.Series(arr, index=labels )

In [ ]:
pd.Series(labels)

In [ ]:
# slicing of the series data

pd.Series(arr, index=labels )[1]

In [ ]:
d = {"a":"kjhg","b":20,"c":30}
d.items

In [ ]:
pd.Series([type, d.items, d.values()])

In [ ]:
pd.Series([type, sum, d.values()])

In [ ]:
pd.Series([type(my_data), sum(my_data), max(my_data)])

In [ ]:
pd.DataFrame(d, index = labels)

## Data Manuplatio 1.0

In [ ]:
ser1 = pd.Series([1,2,3,4], index = ["ca","or","co","az"])
ser2 = pd.Series([1,2,3,4], ["ca","or","nv","az"])
print(ser1)
print(ser2)

In [ ]:
# we can get the value using the std index value.

ser1[1]

In [ ]:
# we can also get the value using the index passed in the series.

ser1["or"]

In [ ]:
ser1[0:3:2]

In [ ]:
ser1 = pd.Series([1,2,3,4], index = ["ca","or","co","ca"])
ser2 = pd.Series([1,2,3,4], ["ca","nv","az","or"])
ser3 = ser1 + ser2
ser3

In [ ]:
ser3 = ser1 * ser2
ser3

## convert matrix to the dataframe

In [ ]:
from numpy.random import randn as rn

In [ ]:
matrix_data = rn(5,4)
matrix_data

In [ ]:
row_labels = ["A","B","C","D","E"]
column_labels = ["W","X","Y","Z"]

In [ ]:
df = pd.DataFrame(matrix_data, row_labels,column_labels)
df

In [ ]:
df.iloc[2]    # iloc is used for positional indexing

## For retrieving the required row and column

In [ ]:
df.loc["C"]   # loc is used for label based indexing

In [ ]:
df["Y"]        # extracting the column

In [ ]:
df.ix[3]

In [ ]:
type(df[["X","Y"]])   # type of two columns is a dataframe

In [ ]:
type(df.loc[["C","D"]])    # type of 2 rows is dataframe

In [ ]:
type(df.loc["C"])             # type of single row is series

In [ ]:
type(df[["X"]])               # type of single column is dataframe

In [ ]:
# creating a new column by adding the present columns

In [ ]:
df["NEW"] = df["X"]+df["Y"]
df

In [ ]:
df.drop("C")   # drop the row

In [ ]:
df.drop("X")    # predefined axis is 0

In [ ]:
df.drop("X", axis = 1)    # deleting the column

In [ ]:
df     # drop operation is temporary. It has not permanenetly deleted from df

In [ ]:
df.drop("X", axis = 1, inplace = True)    # inplace = True make permanent change
df

In [ ]:
df.iloc[3]          # getting sinle row by position index

In [ ]:
df.iloc[[2,3]]       # getting multi rows by position index

In [ ]:
df.loc["B"]        # getting sinle row by position index

In [ ]:
df.loc[["B","C"]]    # getting multi rows by position index

In [ ]:
df

## To get a part of the dataset (Slicing of dataframes)

dataframe.loc[ [row index],[column index] ]

In [ ]:
df.loc[["B"],["Y"]]     #dataframe.loc[[row index],[column index]]

In [ ]:
df.loc[["B","C"],["Y","W"]]

In [ ]:
df.loc[["B","C"],["Y"]]

In [ ]:
df.iloc[[1,2],[0,1]]

In [ ]:
df.iloc[:,[0,1]]

In [ ]:
df.iloc[:,:]

In [ ]:
df.iloc[:,2]

## Applying conditions to Dataframe.

Always gives a boolean output.

In [ ]:
df > 0

In [ ]:
df["Y"].min()

In [ ]:
df["Y"].max()

### Filtering data from the Dataframe

In [ ]:
df

In [ ]:
df > 0

In [ ]:
df[df>0]

### Reassigning the value in Dataframe

In [ ]:
df.loc[["A"],["W"]] = 1.25
df

In [ ]:
import pandas as pd
import numpy as np

matrix_data = np.matrix('22 66 140;42 70 148;30 62 125;35 68 160;25 62 152')
row_labels = ["A","B","C","D","E"]
column_labels = ["age","height","weight"]
matrix_data

In [ ]:
# creating the dataframe from the matrix

df = pd.DataFrame(matrix_data, row_labels,column_labels)
df

In [ ]:
df["height"]>65

In [ ]:
df[df["height"]>65]

In [ ]:
booldf1 = df["height"]>65
booldf2 = df["weight"]>145

In [ ]:
df[booldf1 & booldf2]

In [ ]:
df[df["height"]>65][["age","weight"]]     # applying condn and filtering cols

In [ ]:
# Reset the index

df.reset_index()

In [ ]:
df.reset_index(inplace=True)
df

In [ ]:
# new column

df["profession"] = " student teacher engineer doctor nurse".split()
df

In [ ]:
# set index - to make any column as index

df.set_index('profession', drop=True)

In [ ]:
# multi indexing 

outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3,]
hier_inside01 = zip(outside,inside)
hier_inside01

In [ ]:
hier_inside = list(hier_inside01)
hier_inside

In [ ]:
type(hier_inside)

In [ ]:
hier_inside = pd.MultiIndex.from_tuples(hier_inside)
hier_inside

In [ ]:
type(hier_inside)

In [ ]:
df1 = pd.DataFrame(data = np.round(rn(6,3)),index = hier_inside, columns = ["A","B","C"])
df1

In [ ]:
df1.loc["G1"].loc[[2],["B","C"]]

In [ ]:
 # df1.loc["G1"].loc[[2],["B","C"]]
 # -------------.__________________
 # select first index. then required row and column

In [ ]:
# Cross-section of row and column

In [ ]:
df1.xs("G1")    # We get the output of G1 index data

In [ ]:
df1.xs("G2")     # We get the output of G2 index data

## Data manipulation 2.0

In [ ]:
# when we pass a dictionary as the dataframe the key will the column name and 
# the value will be the value assigned.

df = pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})
df

In [ ]:
# adding a new column

df["states"] = "CA NV AZ".split()
df

In [ ]:
df["states1"] = ["CA", "NV", "AZ"]
df

In [ ]:
# Assigning a column as index

df.set_index("states", inplace = True)
df

In [ ]:
# reassigning the index

index_01 = ["one","two","three"]
df.reindex(index_01)

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})
df
df["states"] = "CA NV AZ".split()
df
df.set_index("states", inplace = True)
df

In [ ]:
# dropping the null value row and column
# axis 0 = row wise
# axis 1 = column wise

df.dropna(axis = 1)

In [ ]:
df.dropna(axis = 0)

In [ ]:
# thresh = threshold value, if 2 then if the null is more than 2 then row/col is deleted

df.dropna(axis = 0, thresh = 2)

In [ ]:
df.dropna(axis = 1, thresh = 2)

In [ ]:
df.dropna(axis = 1, thresh = 1)

In [ ]:
df.dropna(axis = 1, thresh = 4)

# empty dataset is the output

In [ ]:
# filling the na value

In [ ]:
df

In [ ]:
df.fillna(value = "FILL VALUE")

In [ ]:
df.fillna(value = df["A"].mean())