# SETS

Set is a unordered collection of data that are iterable(edit values), mutable and it can not have a duplicate elements(ie all elements are unique  

The elements of the sets are stored in the flower brackets.  

The indexing and slicing operations are not possible with sets.  
To do so we need to typecast the set to the list and then perform the required changes.  

Mutability is done by converting set to list and performing functions.

In [1]:
x = set()
type(x)

set

In [6]:
set([1,2,3,4,5,6,])   # defines a set

{1, 2, 3, 4, 5, 6}

In [7]:
{1,2,3,4,5,6,7}       # defines a set

{1, 2, 3, 4, 5, 6, 7}

In [8]:
{1,2,3,4,5,6,7,7,1,5,3,2,6}  # set gives only unique elements.

{1, 2, 3, 4, 5, 6, 7}

In [10]:
type({})     # empty curly braces is a dict

dict

In [11]:
type({2})    # one or more elements in curly braces gives it as set

set

In [121]:
x = set()

### Check mutability of set

We can not slice or index along the sets. So it becomes impossible to change the elements of the set. So, we say sets are immutable.  
To do so under any circumstances we need to convert them to list perform required changes and then type cast to the set.

In [119]:
n = {1,2,3,8,6,4,4,8,5}
n

{1, 2, 3, 4, 5, 6, 8}

In [120]:
n[0]

TypeError: 'set' object is not subscriptable

### Checking the format of set printing

first all numerics are printed and later alphabets.

In [122]:
x = "swaroop"
print(list(x))
set(x)         # the set gives the elements in ordered (ascending), unique way.

['s', 'w', 'a', 'r', 'o', 'o', 'p']

{'a', 'o', 'p', 'r', 's', 'w'}

In [123]:
type(x)

str

In [124]:
P = {'b',3,2,'a'}
P

{2, 3, 'a', 'b'}

### iteration property

We can iterate through the elements in the set.

In [125]:
# check iteration property

for i in P:
    print(i)

b
2
3
a

## Methods used in set

In [12]:
# n.add() adds the data in tuple at the suitable ordered position

n = {1,2,3,8,6,4,4,8,5}
n.add(222)
n

{1, 2, 3, 4, 5, 6, 8, 222}

In [18]:
# explore more methods by using set.tab key

### .add

adds only an element to a set

In [19]:
x = set()
x1 = {1,2,3,4,5}
x2 = {1,2,5,7,8,9}

In [20]:
x1.add(6)
x1

{1, 2, 3, 4, 5, 6}

In [24]:
x1.add("smile")
x1

{1, 2, 3, 4, 5, 6, 'smile'}

### .difference

Gives a new set by removing all common elements from the set passed.  
This operation does not change the original sets.

In [23]:
x1.difference(x2)

{3, 4, 6, 'smile'}

In [25]:
x2.difference(x1)

{7, 8, 9}

In [26]:
print(x1)
print(x2)

{1, 2, 3, 4, 5, 6, 'smile'}
{1, 2, 5, 7, 8, 9}

### .difference_update

Gives a new set by removing all common elements from the set passed.  
#### This operation changes the original sets.

In [28]:
x1.difference_update(x2)
x1

{3, 4, 6, 'smile'}

In [29]:
x1 = {1, 2, 3, 4, 5, 6, 'smile'}
x2 = {1,2,5,7,8,9}

In [30]:
x2.difference_update(x1)
x2

{7, 8, 9}

In [38]:
x1 = {1, 2, 3, 4, 5, 6, 'smile'}
x2 = {1,2,5,7,8,9}

### .clear( )

clears all the elements in the set  and returns an empty set

In [39]:
x1.clear()
x1

set()

### .copy( )

Creates the shallow copy of the set

In [41]:
x3 = x2.copy()
x3

{1, 2, 5, 7, 8, 9}

### .discard( )

permanently removes an element passed from the set if present.  
It takes only one number or element at a time.

In [47]:
x1 = {1, 2, 3, 4, 5, 6, 'smile'}
x2 = {1,2,5,7,8,9}

In [48]:
x1.discard("smile")
x1

{1, 2, 3, 4, 5, 6}

In [49]:
x1.discard(1,3,5)
x1

TypeError: discard() takes exactly one argument (3 given)

### .intersection( ) and .Intersection_update

.intersection gives the set of common elemets from both the sets passed.  
We can pass a set , list, tuple to intersection command wih a given set. 

.intersection and .intersectin_updt does the same task but former does not change the set ,while the latter changes the set as well.

In [71]:
x1 = {1, 2, 3, 4, 5, 6, 'smile'}
x2 = {1,2,5,7,8,9}

In [54]:
x1.intersection(x2)

{1, 2, 5}

In [57]:
x1.intersection([1,2,3,4,5,6,7,8,9])

{1, 2, 3, 4, 5, 6}

In [58]:
x1.intersection({1,2,8})

{1, 2}

In [59]:
x1.intersection((1,2,8))

{1, 2}

In [61]:
{1,2,3,4,5,6}.intersection(x2)

{1, 2, 5}

In [67]:
# using interetion dos not change the set

print(x1)
print(x2)

{1, 2, 3, 4, 5, 6, 'smile'}
{1, 2, 5, 7, 8, 9}

In [68]:
x1.intersection_update(x2)
x1

{1, 2, 5}

In [70]:
{1,2,3,4,5,6}.intersection(x2)
x2

{1, 2, 5, 7, 8, 9}

### .pop( ) and .remove( )

In [87]:
x1 = {1, 2, 3, 4, 5, 6, 'smile'}
x2 = {1,2,5,7,8,9}

In [78]:
x1.pop()

1

In [79]:
x1

{2, 3, 4, 5, 6, 'smile'}

In [82]:
print(x1.pop())
print(x1)

3
{4, 5, 6, 'smile'}

In [85]:
x2.remove(2)

In [86]:
x2

{1, 5, 7, 8, 9}

In [88]:
x1.remove("smile")

In [89]:
x1.

{1, 2, 3, 4, 5, 6}

### .issubset( )

Returns a True or False by checking the condition.

In [97]:
a = {1,2,3,4,5,6,7,8,9}
b = {2,4,6,8}
c = {"a","b","c","d"}

In [94]:
b.issubset(a)   # check if b is a subset of a

True

In [101]:
c.issubset(a)

False

### .isdisjoint( )

Checks if 2 sets are disjoint. ie. they are diffent and sets and has no common elemets.

In [98]:
c.isdisjoint(b)   # is c disjoint with b

True

In [99]:
b.isdisjoint(c)   # is b disjoint with c

True

In [100]:
 b.isdisjoint(a)  # is b disjoint with a

False

### .issuperset( )

checks if the set is a super set of the set passed.

In [105]:
a = {1,2,3,4,5,6,"a","b","c","d"}
b = {1,2,3,4,5}
c = {"a","b","d"}

In [107]:
b.issubset(a)     # is b subset of a

True

In [108]:
c.issubset(a)

True

In [109]:
a.issuperset(b)    # is a superset of b

True

In [110]:
a.issuperset(c)

True

In [112]:
b.issuperset(c)    # is b superset of c

False

### .union( )

Adds all the elements in both sets and gives a new set.  
This does not change the original sets.

In [153]:
b = {1,2,3,4,5}
c = {"a","b","d"}

In [114]:
a = b.union(c)   # a is union of b and c
a

{1, 2, 3, 4, 5, 'a', 'b', 'd'}

In [115]:
f = c.union(b)    # f is union of c and b
f

{1, 2, 3, 4, 5, 'a', 'b', 'd'}

In [117]:
g = {"apple", 1,5,9}    # g is new set
h = g.union(c)          # h is the union of g and c
h

{1, 5, 9, 'a', 'apple', 'b', 'd'}

In [156]:
b.union({"small","big"})

{1, 2, 3, 4, 5, 'big', 'small'}

### .update( )

using .add we can add only one element to a set.  
with .update we can add a collection of data to a set.  

This works similar to the .union( ) , but it changes the original set as well.

In [158]:
a = {1,2,3,4,5,6,"a","b","c","d"}
b = {11,12,13,14,15}
c = {"aa","ab","ad"}

In [159]:
a.update()

In [160]:
a

{1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd'}

In [161]:
a.update(b)
a

{1, 11, 12, 13, 14, 15, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd'}

In [162]:
a.update(c)
a

{1, 11, 12, 13, 14, 15, 2, 3, 4, 5, 6, 'a', 'aa', 'ab', 'ad', 'b', 'c', 'd'}

In [163]:
b.update(c)
b

{11, 12, 13, 14, 15, 'aa', 'ab', 'ad'}

In [164]:
a.update(b,c)
a

{1, 11, 12, 13, 14, 15, 2, 3, 4, 5, 6, 'a', 'aa', 'ab', 'ad', 'b', 'c', 'd'}

In [165]:
a.update([1,2,3,4,5,9])
a

{1, 11, 12, 13, 14, 15, 2, 3, 4, 5, 6, 9, 'a', 'aa', 'ab', 'ad', 'b', 'c', 'd'}

In [166]:
a.update({"small","big"})
a

{1,
 11,
 12,
 13,
 14,
 15,
 2,
 3,
 4,
 5,
 6,
 9,
 'a',
 'aa',
 'ab',
 'ad',
 'b',
 'big',
 'c',
 'd',
 'small'}

### Case sensitivity

In [62]:
s = [1,5,9,6,7,'A','b','r','C']           
# the set is a case sensitive, check how capital and lower letters arrange in set.
print(s)
set(s)

[1, 5, 9, 6, 7, 'A', 'b', 'r', 'C']

{1, 5, 6, 7, 9, 'A', 'C', 'b', 'r'}

In [63]:
p = set(s)
p

{1, 5, 6, 7, 9, 'A', 'C', 'b', 'r'}