## Strings

Python takes text as a sequence of letters in a specific order(indexing)  
  
If we quote with single quote we dont have to escape the double quote or vice_versa.  
If we use the triple quote we can have multiple lines in the quotes.  

 "swaroop's" - correct  
 "swaroop"s" - wrong  
 'swaroop"s' - correct

In [2]:
"hello"

'hello'

In [3]:
'hello'

'hello'

In [4]:
"this is a string"

'this is a string'

In [5]:
#single quotation
#double quotation
#triple quotation

#difference and uses of each.

In [6]:
# to know the length of the string

len("Swaroop Gudhal")

#Space is also considered for the length as character

14

## INDEXING of the strings.

In [10]:
# indexing of the string

s = "swaroop gudhal"
s[-1]

'l'

In [14]:
s[0] = 'D'         # we cant do this. This is called immutability property.

TypeError: 'str' object does not support item assignment

In [16]:
# below is the list to show mutability.

s = [2,3,4,5]
s[0] = "rob"
s                

# string is immutable, list is mutable.

['rob', 3, 4, 5]

In [11]:
# indexing a range of string

s[:9:1]

'swaroop g'

In [17]:
# Concatenation of strings
# we can concat only 2 r more strings. we cant concat strings with any other data type.
# concat is for homogeneous datatype.

"swaroop "+"gudhal"

'swaroop gudhal'

In [18]:
"Swaroop"+2

TypeError: can only concatenate str (not "int") to str

In [19]:
'swaroop'+str(23)                   #typecasting the int datatype

'swaroop23'

In [21]:
#multiplication

"swaroop" * 5

'swaroopswaroopswaroopswaroopswaroop'

In [22]:
s= "swaroop gudhal"

In [26]:
# all string to upper case
#doesnot overwrite the string

print(s.upper()) 
print(s)

SWAROOP GUDHAL
swaroop gudhal

In [27]:
# all string to lower case
#doesnot overwrite the string

print(s.lower())
print(s)

swaroop gudhal
swaroop gudhal

In [29]:
# Split a string by a blank space(ie. default by space)
# The output is the list.

print(s.split())
print(s)

['swaroop', 'gudhal']
swaroop gudhal

In [35]:
# split by a defined variable( delimiter)

print(s.split("a"))
print(s)

# we can use only one delimiter in the split. 
#If we have to use multi delimiter we have to use own function.

['sw', 'roop gudh', 'l']
swaroop gudhal

In [45]:
# format function

a = "swaroop"

"my name is : {}{}".format(a,"gudhal")

# the number of curly braces shud be equal to number of arguments passed in format.
# The number of arguments can be more than the number of curly brackets.

'my name is : swaroopgudhal'

## Location and counting in strings

In [24]:
s = " Hi Swaroop, Welcome to the show. Good to see you again."

In [25]:
# to get the count of any letter in the string

s.count('o')

9

In [26]:
# To get the first occurence of the letter in the string.
# Once the letter is matched the code stops.

s.find('a')

6

In [29]:
# to find the index of all the given letter in the string.
# to overcome the s.find() problem

l = []

for i in range(0,len(s)):
    if s[i] == "o":
        l.append(i)
l

[8, 9, 17, 22, 30, 35, 36, 40, 47]

In [52]:
# center function( )
# The character given shud be only one not more.

s.center(70, '*')

'******* Hi Swaroop, Welcome to the show. Good to see you again.*******'

In [55]:
# expandtabs() function

c = "find\tme"
c.expandtabs()

'find    me'

## Checking

Gives boolean output for the pre-defined conditions.

In [59]:
s = "Hell0"

In [60]:
# isalnum() will give true or false based on the existance of alphanumeric in s.

s.isalnum()

True

In [61]:
# isalpha() will give true or false based on the existance of alphabets in s.

s.isalpha()

False

In [64]:
# islower() will give true is there are only lower case
# any upper case detected the return will br false.

s.islower()        # H in hello is capital

False

In [66]:
# isuppe() will give true is there are only upper case
# any lower case detected the return will be false.

s.isupper()        # we have lower case in Hello

False

In [67]:
# isspace() will give true is there are only space in string.

d="  "
d.isspace()

True

In [69]:
# istitle() will give true if first letter is upper case and rest lower

s = "Swaroop"
s.istitle()

True

In [72]:
# endswith() will give true is the value passed is equal to the [-1] char in the string

s.endswith('p')

True

### SPLIT v/s PARTITION

The delimiter will not be included in the output in split function.  
Split occurs for all matching characters.  
The output is a list of varied entity.  
  
The delimiter will be included in partition function.   
The partition occurs at first encounter and the loop ends.   
The output will be a 3 entity only tuple.

In [30]:
s = "hello world"

In [31]:
# split operation

s.split('l')

['he', '', 'o wor', 'd']

In [32]:
# partition operation

s.partition('l')

('he', 'l', 'lo world')